.mobile-menu {
    display: none;
}

@media only screen and (max-width:900px) {
    .mobile-menu {
        display: flex !important;
        justify-content: flex-end;
        margin-right: 0px;
        font-size: 30px;
        background: white;
        color: black;
        padding: 20px;
    }

    .large-menu {
        display: none !important;
    }

    .mobile-menu .menu-wrap {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        width: 100%;
        right: 0;
        top: -500px;
        transition: .2s ease-in;
    }

    .menu-wrap-opened {
        top: 80px !important;
    }

    .menu-wrap li {
        justify-content: start !important;
    }

    .menu-wrap li:hover::after {
        width: 0 !important;
    }


    .button {
        display: none !important;
    }
}

@media only screen and (max-width:750px) {
    .slide .name h2 {
        font-size: 20px;
    }

    .slide .place h2 {
        font-size: 26px !important;
    }

    .slide .place p {
        font-size: 15px !important;
    }
}

.btn-button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width:750px) {
    .btn-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .btn-button button {
        width: 54% !important;
        height: 60px;
        background: #FF3E41;
        color: #fff;
        font-size: 18px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        margin: 8px 0 0 36px;
    }


    .btn-button:nth-child(1) button {
        width: 68% !important;
        padding: 10px 20px;
        height: 60px;
        background: #FF3E41;
        color: #fff;
        font-size: 18px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
    }

}


@media only screen and (max-width:700px) {
    .btn-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .btn-button button {
        width: 49% !important;
        padding: 10px 20px;
        height: 60px;
        background: #FF3E41;
        color: #fff;
        font-size: 18px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        margin: 7px 0 4px 30px;
    }


    .btn-button:nth-child(2) button {
        width: 49% !important;
        padding: 10px 20px;
        height: 60px;
        background: #FF3E41;
        color: #fff;
        font-size: 18px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        margin: 7px 0 4px 82px;
    }
}


@media only screen and (max-width:450px) {

    .slide {
        position: relative;
    }

    .slideInner___2mfX9 .name h2 {
        width: 100%;
        position: absolute;
        font-size: 15px;
        top: 50px;
        right: -20px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .slideInner___2mfX9 .place h2 {
        width: 94% !important;
        font-size: 31px;
        position: absolute;
        top: 85px;
        right: 5px;
    }

    .slideInner___2mfX9 .place p {
        width: 94% !important;
        position: absolute;
        top: 157px;
        right: 5px;
    }

    .slideInner___2mfX9 .btn-button  button{
        width: 94% !important;
        position: absolute;
        top: 328px;
        right: 5px;
    }

    .slideInner___2mfX9 .btn-button  button:last-child{
        width: 94% !important;
        position: absolute;
        top: 416px;
        right: 5px;
    }

}


@media only screen and (max-width:350px){
    
    .slideInner___2mfX9 .btn-button  button{
        width: 94% !important;
        position: absolute;
        top: 351px;
        right: 5px;
    }

    .slideInner___2mfX9 .btn-button  button:last-child{
        width: 94% !important;
        position: absolute;
        top: 435px;
        right: 5px;
    }
}