.mobile-menu {
    display: none;
}

@media only screen and (max-width:900px) {
    .mobile-menu {
        display: flex !important;
        justify-content: flex-end;
        margin-right: 0px;
        font-size: 30px;
        background: white;
        color: black;
        padding: 20px;
    }

    .large-menu {
        display: none !important;
    }

    .mobile-menu .menu-wrap {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        width: 100%;
        right: 0;
        top: -500px;
        transition: .2s ease-in;
    }

    .menu-wrap-opened {
        top: 80px !important;
    }

    .menu-wrap li {
        justify-content: start !important;
    }

    .menu-wrap li:hover::after {
        width: 0 !important;
    }


    .button {
        display: none !important;
    }
}

@media only screen and (max-width:750px) {
    .slide .name h2 {
        font-size: 20px;
    }

    .slide .place h2 {
        font-size: 26px !important;
    }

    .slide .place p {
        font-size: 15px !important;
    }
}

.btn-button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width:750px) {
    .btn-button {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .btn-button button {
        width: 100% !important;
        padding: 5px 20px;
        height: 60px;
        background: #FF3E41;
        color: #fff;
        font-size: 18px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
    }

}